name: Build and Push Installer Image

on:
  push:
    branches: ["main"] # Startet bei jeder Änderung am Main-Branch
    paths:
      - 'DockerFile'   # Startet nur, wenn sich das Dockerfile ändert
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Erzeugt das Image mit dem Namen: ghcr.io/dein-name/repo-name:latest
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:latest
